#table_loader{
	background:#ffffff;width:600px;height:600px;
}
table{
	width:100%;height:100%;
}

#floorLevel{
	padding:0;margin:0;
}
#floor_number{
	width:100%;text-align:center;margin:auto;margin-top:-4%;
}
#floor1a{
	width:20%; padding-left:24px;padding-top:24px;
}
.floor1a{
	width:20%; padding-left:24px;padding-top:24px;
}
#floor1aa{
	width:20%; padding-left:24px;padding-top:24px;padding-bottom:24px;
}
#floor1b{
	width:20%; padding-top:48px;padding-left:24px;padding-right:24px;
}
#stairs_right{
	width:40%;float:left;margin-top:-13%;
}
#stairs_left{
	width:40%;margin-left:60%;float:left;margin-top:-13%;
}
#stair_left2{
	width:40%;margin-left:20%;float:left;
}
#stair_right2{
	width:40%;float:left;
}
#elevators{
	width:100%;position:absolute;text-align:center;margin-top:-8%;
}

.north_reading{
	position:absolute;border:1px solid #000;font-size:18px;margin-top:20px;height:26px;padding:2px;width:49%;background:grey;
}

/**INIT GRID**/
#grid1{
	text-align:center;
}
table tr td{
	margin:0;padding:0;padding-top:0;border:0;
}
#section{
	background:purple;
}
#sectionMusic{
	background:purple;
}
#sectionReference{
	background:purple;
}
#sectionReference:hover{
	background:orange;
}
#sectionNews{
	background:purple;
}
#sectionNews:hover{
	background:orange;
}
#ADJOVERSIZE{
	background:purple;	
}
#ADJOVERSIZE:hover{
	background:orange;	
}
.MMT{
	background:purple;
}
.MMT:hover{
	background:orange;
}
.DFCB{
	background:purple;
}
.DFCB:hover{
	background:orange;
}
.CBBF{
	background:purple;
}
.CBBF:hover{
	background:orange;
}
.DFDJ{
	background:purple;
}
.DFDJ:hover{
	background:orange;
}
.BFAP{
	background:purple;
}
.BFAP:hover{
	background:orange;
}
.AAP{
	background:purple;
}
.AAP:hover{
	background:orange;
}
.EDS{
	background:purple;
}
.EDS:hover{
	background:orange;
}
.DSDJK{
	background:purple;
}
.DSDJK:hover{
	background:orange;
}
.EF{
	background:purple;
}
.EF:hover{
	background:orange;
}
.USGOV{
	background:purple;
}
.USGOV:hover{
	background:orange;
}
.HXHC{
	background:purple;
}
.HXHC:hover{
	background:orange;
}
.HCF1{
	background:purple;
}
.HCF1:hover{
	background:orange;
}
.JL{
	background:purple;
}
.JL:hover{
	background:orange;
}
.PRPN{
	background:purple;
}
.PRPN:hover{
	background:orange;
}
.PNPG{
	background:purple;
}
.PNPG:hover{
	background:orange;
}
.PRPZ{
	background:purple;
}
.PRPZ:hover{
	background:orange;
}
.PGP{
	background:purple;
}
.PGP:hover{
	background:orange;
}
.OVERSIZEP{
	background:purple;
}
.OVERSIZEP:hover{
	background:orange;
}
.RZQL{
	background:purple;
}
.RZQL:hover{
	background:orange;
}
.QLNK{
	background:purple;
}
.QLNK:hover{
	background:orange;
}
.SZ{
	background:purple;
}
.SZ:hover{
	background:orange;
}
.OVERSIZEZ{
	background:purple;
}
.OVERSIZEZ:hover{
	background:orange;
}
.NANK{
	background:purple;
}
.NANK:hover{
	background:orange;
}
#section:hover{
	background:orange;
}


/***** Styling IDs ****/

#reference{
	background:grey;width:220px;height:auto;text-align:center;margin:auto;padding:20px;
}
#circ_services{
	background:grey;width:100px;height:auto;text-align:left;margin:auto;padding:20px;margin-left:-40px;font-size:12px;
}
#gallery{
	text-align:center;height:100%;font-size:22px;padding-top:24px;line-height:1.2
}